
html
  head
    title= stop.stop_name
  body
    h4= "Fermata "+stop.stop_name
    img(src=url)
    ul 
       each trip in trips
          li=trip.linea.display_name+" "+trip.stop_times[0].departure_time.substring(0,5)
